name: Deploy Landing Zone

on:
  push:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

jobs:
  terraform-plan:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: "projects/648099970996/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
        service_account: "terraform-sa@project-5a757d72-eb26-477c-bd9.iam.gserviceaccount.com"

    - uses: google-github-actions/setup-gcloud@v2

    - uses: hashicorp/setup-terraform@v3

    - run: terraform init

    - run: terraform plan

  terraform-apply:
    runs-on: ubuntu-latest
    needs: terraform-plan
    environment: production
    steps:
    - uses: actions/checkout@v4

    - uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: "projects/648099970996/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
        service_account: "terraform-sa@project-5a757d72-eb26-477c-bd9.iam.gserviceaccount.com"

    - uses: google-github-actions/setup-gcloud@v2

    - uses: hashicorp/setup-terraform@v3

    - run: terraform init

    - run: terraform apply -auto-approve